@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    font-family: Roboto, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
}


.header {

    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.headerbox {
    display: flex;
    max-width: 63%;
    justify-content: space-between;
    flex-grow: 1;
    padding: 20px 0px;
}

.headerlogo {
    font-weight: bold;
    font-size: 24px;
    display: flex;
    align-items: flex-end;
    color: #f9faf8;
}

button {

    display: flex;
    color: white;
    font-weight: bold;
    background-color: #3882f6;
    border-radius: 8px;
    border: #3882f6;
    padding: 5px 25px;
    width: 120px;
    height: 35px;
    align-items: center;
    justify-content: center;
}

.links {
    display: flex;
    gap: 15px;
    align-items: center;
}

a {
    font-size: 18px;
    text-decoration: none;
    color: white;
    color: #f9faf8;
}

/* section 1 */

.one {
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.onebox {
    display: flex;
    max-width: 63%;
    padding: 30px 0 60px;
    gap: 10px;
    color: white;
    flex-grow: 1;
}

.leftbox,
.rightbox {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 15px;
}

.awesome,
.awesometext,
.butt {
    display: flex;
}

.awesome {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
    line-height: 40px;
}

.rightbox {
    background-color: grey;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Section 2 */

.two,
.boxtwo,
.boxes,
.column,
.box,
.boxtext {
    display: flex;
}


.two {
    width: 100%;
    background-color: whitesmoke;
    justify-content: center;
}

.boxtwo {
    flex-direction: column;
    width: 63%;

}

.random {
    text-align: center;
    font-weight: bolder;
    font-size: 36px;
    color: #1f2937;
    margin: 30px 0 10px;
}

.boxes {
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 120px;
    flex-grow: 1;
}

.column {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    padding: 1.5rem;

}

.box {
    width: 10rem;
    height: 10rem;
    border-radius: 8px;
    border: #3882f6 solid;
}

.boxtext {
    width: 10rem;
    text-align: center;
    font-size: 1rem;
}


.three,
.threebox {
    display: flex;
    justify-content: center;
}

.three {
    background-color: #e5e7eb;
    justify-content: center;
    padding: 150px 0px;
    width: 100%;


}

.threebox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 63%;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    padding: 0 10px;
}

.thor {
    font-weight: bold;
    font-size: 22px;
    font-style: normal;
    text-align: end;

}

/* section 4 */

.four,
.fourbox,
.bluebox,
.textbox,
.Calltext,
.signup {
    display: flex;
    flex-grow: 1;
}

.four {
    padding: 150px 100px;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
}

.fourbox {
    justify-content: center;
    max-width: 63%;
}

.bluebox {
    background-color: #3882f6;
    padding: 3rem 9rem;
    border-radius: 10px;
    width: 100%;
    flex-grow: 1;
    justify-content: space-between;
    gap: 20px;
}

.textbox {
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex-grow: 1;
}


.calltext {
    flex-direction: column;
    font-weight: bold;
    font-size: 20px;
}

.botbutt {
    border: white solid 2px;
}

.fourbox .butt {
    justify-content: center;
    align-items: center;
}

/* footer */

footer {
    background-color: #1f2937;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}